button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
td{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}