div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 70%;
    width: fit-content;
    height: fit-content;
    background-color: #d2d1d1;
    border-radius: 2%;
    padding: 20px;
}
div:hover{
    size: 10%;


}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
