div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: #3a3838;
    border-radius: 2%;
    padding: 20px;
}
div:hover{
    size: 10%;


}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
