h1{
    margin: 0;
}
article{
    background-color: black;
    padding: 50px;
    border-radius: 10px;
    width: fit-content;
    margin-top: 150px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.338);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    margin: 0;
    height: fit-content;
    padding: 10px;
    background-color: #017afe;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    width: 100%;
    color: white;
}
th{
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0;
    border-bottom: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
}
tr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
form input{
    width: 100%;
    padding: 5px;
}
form div{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}
thead tr th{
    color: gray;
}
.op-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}