<article>
  <header>
    <div class="op-container">
      <h1>Lista de Usuarios</h1>
      @if(formActive === false){
        <button (click) = "handleBtnNewUser()">Nuevo usuario</button>
      }
    </div>
    <div class="form-container">

    </div>
    @if(formActive === true){
      <form [formGroup]="userForm" (ngSubmit)="createUser()">
        <div>
          <label>
            Nombre
            <input type="text" id="name" formControlName="name" />
          </label>
          <label>
            Edad
            <input type="number" id="age" formControlName="age" />
          </label>
          <label>
            Email
            <input type="email" id="email" formControlName="email" />
          </label>
        </div>
        <div>
          <button type="submit">Agregar usuario</button>
          <button style="background-color: red;" type="button"
            (click) = "handleBtnNewUser()"
          >Cancelar</button>
        </div>
      </form>
    }
  </header>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Email</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      @for(user of users; track user.id){
      <tr user-card [user]="user" (delete)="deleteUser($event)"></tr>
      } @empty{
      <tr style="padding: 10px;">
        <td colspan="5" style="text-align: center; padding: 10px;font-size: larger;">No hay usuarios registrados</td>
      </tr>
      }
    </tbody>
  </table>
</article>
