<article>
	<header>
		<h1>Lista de Usuarios</h1>
		<form [formGroup] = "usuarioForm" (ngSubmit) = "createUser()">
			<div>
				<label>
					Nombre
					<input type="text" id="nombre" formControlName = "nombre" />
				</label>
				<label>
					Edad
					<input type="number" id="edad" formControlName = "edad"/>
				</label>
				<label>
					Email
					<input type="email" id="email" formControlName = "email"/>
				</label>
			</div>
			<button type="submit">+ Añadir usuario</button>
		</form>
  </header>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Email</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      @for(usuario of usuarios; track usuario.id){
      <tr user-card [usuario]="usuario" (eliminar)="deleteUser($event)"></tr>
      }
    </tbody>
  </table>
</article>
